footer{
    position: relative;
    width: 100%;
    padding: 40px 10vw;
    padding-bottom: 80px;
    background: #FF2D56;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fotter-content .logo-f {
    height: 160px;   
}
    
.footer-ul-container{
    display: flex;
    justify-content: space-between;
}

.category{
    width: 150px;
   padding: 10px;
    list-style: none;
}

.category-title{
    grid-column: span 2;
    text-transform: capitalize;
    color: #fff;
    font-size: 15px;
    margin-bottom: 30px;
}

.category .footer-link{
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.75);
}

.footer-link{
    font-size: 14px;
}

.footer-link:hover{
    color: #fff;
}


.footer-title, .info{
    color: rgba(255, 255, 255, 0.75);
    text-transform: capitalize;
}

.footer-title{
    margin-top: 30px;
    color: #fff;
}

.footer-title2, .info2{
    color: rgba(255, 255, 255, 0.75);    
    text-transform: capitalize;
}

.footer-title2{
    margin-top: 30px;
    color: #fff;
}

.footer-social-container{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.social-link{
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}



.footer-credit{
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
}

.atag{
    margin: 8px;
    float:left;
    color: white;
    text-align: left;
    padding: 10px 5px;
    text-decoration: none;
    font-size: 15px;
}

.fa {
    padding: 20px;
    width: 50px;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
      opacity: 1;
      color: black;
      transition:  2s ease;
}

.fa-twitter {
 color: white;
}
.fa-github {
 color: white;
}
.fa-linkedin {
   color: white;
}
.fa-instagram {  
    color: white;
}
  