@import 'nav.css';
@import 'footer.css';
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&display=swap');

*{
    box-sizing: border-box;
    font-family:Acme;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

img{
    width: 100%;
background-size: cover;
justify-content: center;
}

.hero-section .logo {
    height: 500px;
    display: block;
    margin: auto;
}

.heading{
    color: #FF2D53;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 2px;
    padding: 8px;
    margin: 8px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 20px;
}

.grid-wrapper-two {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-gap: 20px;
}

.box > img {
    size: 100%;
}

.boxzone-two > img {
    size: 100%;
}

.ban-pic img{
    width: 100%;
    background-size: cover;
    justify-content: center;
}

.product{
    position:relative;
   overflow-y: hidden;
    padding-top: 40px;
    
}

.product-category{
    padding: 0 3vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom:5px;
    text-transform: capitalize;
    color: #FF2D53;
}
.products {
    float: left;
    width: 20%;
    text-align: center;
    padding: 0 0 1% 0;    
}

.products img {
    overflow-y: hidden;
    width: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.brandstwo{
    padding-left: 30px;
}

.brandtwo h2{
    margin-left: 20px;
}

.collection-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection{
    position: relative;
}

.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FF2D53;
    font-size: 5vw;
    font-style: bold;
    text-transform: capitalize;
    text-decoration-line:overline;    
}

.collection:nth-child(3){
    grid-column: span 2;
    margin-bottom: 10px;
}
