@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

*{
    box-sizing: border-box;
    font-family:Acme;
}
body{
    
  font-family:'Quicksand', sans-serif;
  text-align:center;
  line-height:1.5em;
/*   background:#E0E4CC; */
}
hr {
  border:none;
  background:#E0E4CC;
  height:1px;
  width:60%;
  display:block;
  margin-left:0; 
}
#alerts{
  color: #Ff2d53;
  border: #Ff2d53 solid 1px;
}
.container {
  max-width: 100%; 
  margin: 1em auto; 
  background:#FFF; 
  padding:5px;
  border-radius:5px;
}
.productcont {
  display: flex; 
}
.product {
  margin-left: 15px;
  padding: 10px;  
  border-radius:5px;
}
.cart-container {
  border:1px solid #E0E4CC;
  border-radius:5px;
  margin-top:1em;
  padding:1em;
}
button, input[type="submit"] { 
    border:1px solid #Ff2d53; 
    color:#fff; 
    background: #ff2d53; 
    padding:0.6em 1em;
    font-size:1em; 
    line-height:1; 
    
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    background: #ff2d53;
    border-color:#ff2d53;
    color:#000;
    cursor: pointer;
}
table {
  margin-bottom:1em;
  border-collapse:collapse;
}
table td, table th {
  text-align:left;
  padding:0.25em 1em;
  border-bottom:1px solid #E0E4CC;
}
#carttotals {
  margin-right:0;
  margin-left:auto;
}
.cart-buttons {
  width:auto;
  margin-right:0;
  margin-left:auto;
  display:flex;
  justify-content:flex-end;
  padding:1em 0;
}
#emptycart {
  margin-right:1em;
}
table td:nth-last-child(1) {
  text-align:right;
}
.message {
  border-width: 1px 0px;
  border-style:solid;
  border-color:#A7DBD8;
  color:#679996;
  padding:0.5em 0;
  margin:1em 0;
}
.mrp{
  text-decoration: line-through;
  color: gray;
}
.dis{
  color: rgba(255, 6, 6, 0.719);
  opacity: 1;
}