*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 800%;
    background-image: linear-gradient(to left, #FF2D53, #FF2D50,#ff2d48, #fff, #fff);
    z-index: 9;
}

.nav{
    padding: 10px 10vw;
    background-image: linear-gradient(to left, #FF2D53, #FF2D50,#ff2d48, #fff, #fff);
    display: flex;
    justify-content: space-between;
    border:#FF2D53
}

.brand-logo{
    height: 50px;
}
.brand-logo :hover{
    opacity: 50px;
    
}
.nav-items{
    display: flex;
    align-items: center;
}

.search{
    width: 500px;
    display: flex;
}

.search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid white;
    text-transform: capitalize;
    background: none;
    color: #a9a9a9;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 40px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #FF2D53;
    color: #fff;
    border: 1px solid white;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-box::placeholder{
    color: #f8f0f2;
    font-weight: 300;
}

.nav-items a{
    margin-left: 20px;
}

.nav-items a img{
    width: 30px;
}

.links-container{
    background-color: #FF2D53;
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    
    
    
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 30px;
    text-decoration: none;
    color: #f8f0f2;
    opacity: 1;
    transition: .5s;
}

.link:hover{
    opacity: 10px;
    color: whitesmoke;
    font-size: 20px;
    text-decoration: double;
    border-bottom: 5px solid whitesmoke;
}
